// COLORS
$color-secondary: #458ff6;
$color-white: #ffffff;
$color-black: #000;
$color-nav-text: #1f1534;
$color-paragraph: #7d7987;
$color-bg: #e5e5e5;
$color-slider: #5b9bf3;

// RESPONSIVE BREAKPOINTS
$bp-small: 37.5em; // 600px
$bp-large: 62.5em; // 1000px
