.header {
  font-size: 1.6rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    padding: 0;
  }

  &__logo {
    display: flex;
    align-items: center;

    &--icon {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      background: $color-secondary;
      color: $color-white;
      border-radius: 50%;
      height: 3.5rem;
      width: 3.5rem;
      text-align: center;
    }

    &--text {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}
