.nav {
  padding: 1rem;

  @media only screen and (max-width: $bp-small) {
    padding: 0.5rem;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    line-height: 1.4;

    &--item {
      margin: 2.5rem;

      @media only screen and (max-width: $bp-small) {
        margin: 1rem;
      }
    }

    &--link:link,
    &--link:visited {
      text-decoration: none;
      color: $color-nav-text;
      opacity: 0.5;
    }
  }
}
