.btn {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2rem;
  padding: 1.3rem 2.8rem;
  text-align: center;

  @media only screen and (max-width: $bp-small) {
    & {
      padding: 0.7rem 1.4rem;
    }
  }

  &--blue {
    background-color: $color-secondary;
    color: $color-white;
  }

  &--white {
    background-color: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;

    &:hover {
      background-color: $color-secondary;
      color: $color-white;
      transition: all 0.2s;
    }
  }
}
